@import url("https://fonts.googleapis.com/css?family=Marck+Script&display=swap");
body, html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  background-color: mistyrose;
  position: relative;
  perspective: 800px;
  overflow: hidden;
}

.envelope {
  position: absolute;
  width: 550px;
  height: 366.66667px;
  top: 50%;
  left: 50%;
  margin-top: -183.33333px;
  margin-left: -275px;
  transform-style: preserve-3d;
  transform-origin: right center;
  transition: transform 1s ease;
  font-family: 'Marck Script',"Microsoft JhengHei",sans-serif;
  color: #1F1F1F;
}

.envelope .front, .envelope .back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 30px -5px #fbc0b9eb;
}

.envelope .front {
  backface-visibility: hidden;
  cursor: pointer;
  display: table;
}

.envelope .front:focus {
  outline: none;
}

.envelope .front .mail {
  text-align: center;
  display: table-cell;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.envelope .front .mail p {
  font-weight: bold;
  margin: 0;
}

.envelope .back .letter p {
  font-size: 20px;
  letter-spacing: 2px;
  color: #fff;
  text-align: center;
  margin-top: -20px;
}

.envelope .back .letter .button {
  background-color: #f43b49;
  color: #fff;
  width: 200px;
  height: 45px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  border-radius: 40px;
  cursor: pointer;
  z-index: 5;
}

.envelope .front .mail p:first-child {
  font-size: 45px;
  line-height: 50px;
  color: #ff969f;
  text-align: left;
  position: absolute;
  top: 30px;
  left: 50px;
}

.envelope .front .mail p:nth-child(2) {
  font-size: 45px;
  line-height: 50px;
  color: #ff969f;
  font-family: "Microsoft JhengHei",serif;
}

.envelope .front .mail p:last-child {
  font-size: 30px;
  color: #b3b3b3;
  position: absolute;
  bottom: 30px;
}

.envelope .back .letter p:nth-child(2) {
  font-size: 10px;
  color: #b3b3b3;
  letter-spacing: 2px;
}

.envelope .back .letter p:nth-child(3) {
  font-size: 30px;
  color: #f57882;
  margin-top: 150px;
  float: right;
}

.envelope .back {
  transform: rotateY(180deg) translate3d(0, 0, 1px);
  z-index: -1;
}

.envelope .back .flip {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.envelope .back .flip:before {
  content: "";
  position: absolute;
  background-color: #FFF;
  box-shadow: 0px 0px 100px #f5c1bc52;
}

.envelope .back .top-flip:before, .envelope .back .bottom-flip:before {
  width: 388.90873px;
  height: 388.90873px;
}

.envelope .back .top-flip {
  z-index: 5;
  transform-origin: top center;
}

.envelope .back .top-flip:before {
  transform-origin: top left;
  transform: rotate(-45deg);
  border-bottom-left-radius: 50px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.envelope .back .bottom-flip {
  z-index: 4;
}

.envelope .back .bottom-flip:before {
  transform-origin: left bottom;
  transform: rotate(45deg) translate(-15px, -15px);
  border-top-left-radius: 100px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}

.envelope .back .left-flip:before, .envelope .back .right-flip:before {
  width: 269.27249px;
  height: 269.27249px;
  top: -5px;
}

.envelope .back .left-flip {
  z-index: 3;
}

.envelope .back .left-flip:before {
  transform-origin: top left;
  transform: rotate(45deg);
  border-top-left-radius: 20px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 5px;
}

.envelope .back .right-flip {
  z-index: 2;
}

.envelope .back .right-flip:before {
  right: 0;
  transform-origin: top right;
  transform: rotate(-45deg);
  border-top-right-radius: 20px;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 5px;
}

.envelope .back .letter {
  z-index: 1;
  position: absolute;
  top: 5px;
  left: 10px;
  width: 530px;
  height: 346.66667px;
  background-color: #fb7d9d;
  border-radius: 5px;
  padding: 0 30px;
  box-sizing: border-box;
  box-shadow: 0 0 30px -5px #fbc0b9eb;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.envelope .back .letter div {
  position: relative;
  margin-top: 25px;
}

.envelope .back .letter label {
  position: absolute;
  font-size: 16px;
  line-height: 20px;
  opacity: 0;
  top: -15px;
  transition: all 0.1s linear;
  color: #ADADAD;
}

.envelope .back .letter label.show {
  opacity: 1;
  top: -18px;
}

.envelope .back .letter label.focus {
  color: inherit;
}

.envelope .back .letter ::placeholder {
  color: #ADADAD;
}

.envelope .back .letter input[type='text'], .envelope .back .letter textarea {
  border: none;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  margin: 0;
  background-color: #F6F6DF;
}

.envelope .back .letter input:focus, .envelope .back .letter textarea:focus {
  outline: none;
}

.envelope .back .letter input, .envelope .back .letter textarea {
  font-size: 20px;
}

.envelope .back .letter input[type='text'] {
  height: 33px;
}

.envelope .back .letter input[type='submit'] {
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  padding: 5px 20px;
  background-color: #e7e1bc;
  margin: 0;
  transition: all 0.1s linear;
}

.envelope .back .letter input[type='submit']:hover {
  background-color: #DCD0AA;
}

.envelope .back .letter textarea {
  resize: none;
  height: 117.66667px;
}

.envelope.new {
  animation: new 1s forwards;
}

.envelope.open {
  animation: open 3s forwards;
}

.envelope.open .top-flip {
  animation: flip-open 1s 1s forwards;
}

.envelope.open .letter {
  animation: letter-out 1s 2s forwards;
}

.envelope.send {
  animation: send 4s forwards;
}

.envelope.send .top-flip {
  transform: rotateX(-180deg);
  z-index: -1;
  animation: flip-close 1s 1s forwards;
}

.envelope.send .letter {
  animation: letter-in 1s forwards;
}

@keyframes new {
  0% {
    left: 0%;
    margin-left: -550px;
  }
  100% {
    left: 50%;
    margin-left: -275px;
  }
}
@keyframes open {
  0% {
    transform: translate3d(0, 0, 0) rotateY(0);
  }
  33.333% {
    transform: translate3d(-100%, 0, 0) rotateY(-180deg);
  }
  66.666% {
    transform: translate3d(-100%, 0, 0) rotateY(-180deg);
  }
  100% {
    transform: translate3d(-100%, 150px, 0) rotateY(-180deg);
  }
}
@keyframes flip-open {
  0% {
    transform: rotateX(0deg);
    z-index: 5;
  }
  50% {
    transform: rotateX(0deg);
    z-index: 5;
  }
  100% {
    transform: rotateX(-180deg);
    z-index: -1;
  }
}
@keyframes letter-out {
  0% {
    transform: translate3d(0, 0, 0);
    box-shadow: 0 0px 30px -5px #fbc0b9eb;
  }
  100% {
    transform: translate3d(0, -250px, 0);
    box-shadow: 0 0px 30px -5px #fbc0b9eb;
  }
}
@keyframes send {
  0% {
    transform: translate3d(-100%, 733.33333px, 0) rotateY(-180deg);
    left: 50%;
    margin-left: -275px;
  }
  25% {
    transform: translate3d(-100%, 0, 0) rotateY(-180deg);
    left: 50%;
    margin-left: -275px;
  }
  50% {
    transform: translate3d(-100%, 0, 0) rotateY(-180deg);
    left: 50%;
    margin-left: -275px;
  }
  75% {
    transform: translate3d(0, 0, 0) rotateY(0deg);
    left: 50%;
    margin-left: -275px;
  }
  100% {
    transform: translate3d(0, 0, 0) rotateY(0deg);
    left: 100%;
    margin-left: 20px;
  }
}
@keyframes flip-close {
  0% {
    transform: rotateX(-180deg);
    z-index: -1;
  }
  50% {
    transform: rotateX(0deg);
    z-index: 5;
  }
  100% {
    transform: rotateX(0deg);
    z-index: 5;
  }
}
@keyframes letter-in {
  0% {
    transform: translate3d(0, -733.33333px, 0);
    box-shadow: inset 0 0px 30px -5px #a87e50, 0 0 20px -5px;
  }
  100% {
    transform: translate3d(0, 0, 0);
    box-shadow: inset 0 0px 30px -5px #b08c5b, 0 0 10px -5px;
  }
}
.cake {
  position: absolute;
  width: 250px;
  height: 200px;
  right: 70px;
  bottom: 50px;
  margin-top: -158px;
}

.plate {
  width: 270px;
  height: 110px;
  position: absolute;
  bottom: -10px;
  left: -10px;
  background-color: #ccc;
  border-radius: 50%;
  box-shadow: 0 2px 0 #b3b3b3, 0 4px 0 #b3b3b3, 0 5px 40px rgba(0, 0, 0, 0.5);
}

.cake > * {
  position: absolute;
}

.layer {
  position: absolute;
  display: block;
  width: 250px;
  height: 100px;
  border-radius: 50%;
  background-color: #553c13;
  box-shadow: 0 2px 0px #6a4b18, 0 4px 0px #33240b, 0 6px 0px #32230b, 0 8px 0px #31230b, 0 10px 0px #30220b, 0 12px 0px #2f220b, 0 14px 0px #2f210a, 0 16px 0px #2e200a, 0 18px 0px #2d200a, 0 20px 0px #2c1f0a, 0 22px 0px #2b1f0a, 0 24px 0px #2a1e09, 0 26px 0px #2a1d09, 0 28px 0px #291d09, 0 30px 0px #281c09;
}

.layer-top {
  top: 0px;
}

.layer-middle {
  top: 33px;
}

.layer-bottom {
  top: 66px;
}

.icing {
  top: 2px;
  left: 5px;
  background-color: #f0e4d0;
  width: 240px;
  height: 90px;
  border-radius: 50%;
}
.icing:before {
  content: "";
  position: absolute;
  top: 4px;
  right: 5px;
  bottom: 6px;
  left: 5px;
  background-color: #f4ebdc;
  box-shadow: 0 0 4px #f6efe3, 0 0 4px #f6efe3, 0 0 4px #f6efe3;
  border-radius: 50%;
  z-index: 1;
}

.drip {
  display: block;
  width: 50px;
  height: 60px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #f0e4d0;
}

.drip1 {
  top: 53px;
  left: 5px;
  transform: skewY(15deg);
  height: 48px;
  width: 40px;
}

.drip2 {
  top: 69px;
  left: 181px;
  transform: skewY(-15deg);
}

.drip3 {
  top: 54px;
  left: 90px;
  width: 80px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.candle {
  background-color: #7B020B;
  width: 16px;
  height: 50px;
  border-radius: 8px / 4px;
  top: -20px;
  left: 50%;
  margin-left: -8px;
  z-index: 10;
}
.candle:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 8px;
  border-radius: 50%;
  background-color: #ad030f;
}

.flame {
  position: absolute;
  background-color: orange;
  width: 15px;
  height: 35px;
  border-radius: 10px 10px 10px 10px / 25px 25px 10px 10px;
  top: -34px;
  left: 50%;
  margin-left: -7.5px;
  z-index: 10;
  box-shadow: 0 0 10px rgba(255, 165, 0, 0.5), 0 0 20px rgba(255, 165, 0, 0.5), 0 0 60px rgba(255, 165, 0, 0.5), 0 0 80px rgba(255, 165, 0, 0.5);
  transform-origin: 50% 90%;
  animation: flicker 1s ease-in-out alternate infinite;
}

@keyframes flicker {
  0% {
    transform: skewX(5deg);
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.2), 0 0 20px rgba(255, 165, 0, 0.2), 0 0 60px rgba(255, 165, 0, 0.2), 0 0 80px rgba(255, 165, 0, 0.2);
  }
  25% {
    transform: skewX(-5deg);
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.5), 0 0 20px rgba(255, 165, 0, 0.5), 0 0 60px rgba(255, 165, 0, 0.5), 0 0 80px rgba(255, 165, 0, 0.5);
  }
  50% {
    transform: skewX(10deg);
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.3), 0 0 20px rgba(255, 165, 0, 0.3), 0 0 60px rgba(255, 165, 0, 0.3), 0 0 80px rgba(255, 165, 0, 0.3);
  }
  75% {
    transform: skewX(-10deg);
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.4), 0 0 20px rgba(255, 165, 0, 0.4), 0 0 60px rgba(255, 165, 0, 0.4), 0 0 80px rgba(255, 165, 0, 0.4);
  }
  100% {
    transform: skewX(5deg);
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.5), 0 0 20px rgba(255, 165, 0, 0.5), 0 0 60px rgba(255, 165, 0, 0.5), 0 0 80px rgba(255, 165, 0, 0.5);
  }
}
.listpage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
  position: absolute;
  background-color: #333;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.list {
  background-color: mistyrose;
  width: 80%;
  height: 80%;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-size: 30px;
  color: #fff;
  margin: 20px;
  font-family: 'Marck Script',serif;
}